body{
  background-color: pink;
}
section{
  border-bottom: 2px solid red;
  min-height: 65vh;
}

#main-menu{
  background:rgba(255, 50, 0, 0.7);
  height: 100%;
  width: 320px;
  position: absolute;
  top: 0;
  left: -320px;
  transition: 1s all ease;
}
#main-menu:target {
  left: 0;
}
